<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
	xmlns:gap = "http://phonegap.com/ns/1.0"
	id        = "in.kitnahua.birthday"
	version   = "1.0.0">
	<name>Flip_Card</name>
	<description>
		Wish your loved ones, with this awesome flipping cards.
	</description>
	<author email="rahulthespaceman@gmail.com">
		Rahul Bohra
	</author>
		<icon src="icon.jpg" gap:role="default" />
</widget>
